name: rewards-goblin

services:
  redis:
    image: redis:7.2
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - redisdata:/data
    command: [ "redis-server" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  redisdata:
    driver: local
